<a href="https://colab.research.google.com/github/nageswar307/Python/blob/main/Day16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def fun_name(arguments):
  """
  docstring
  """
  statement(s)
  operations

  return output

In [1]:
def sq_num(n):
  return n**2

In [10]:
x = sq_num
x(2)

4

In [11]:
x(5)

25

In [9]:
x = sq_num(2)
x

4

In [14]:
def string_concat(string1,string2):
  output = string1 +" " + string2
  return output

In [15]:
st1 = "Hello"
st2 = "World"
string_concat(st1,st2)

'Hello World'

In [16]:
string_concat(st2,st1)

'World Hello'

In [17]:
def string_concat(string1,string2 = "World"):
  output = string1 +" " + string2
  return output

In [18]:
string_concat("Hello")

'Hello World'

In [20]:
string_concat("Hello","Alice")

'Hello Alice'

In [35]:
def multiplier(*args):
  mul = 2
  print(args)
  print("type of args is - ",type(args))
  for num in args: #-- (2,3,4)
    mul = mul *num

  return mul

In [36]:
multiplier(2,3,4)

(2, 3, 4)
type of args is -  <class 'tuple'>

48

In [42]:
lst = [1,2,3]
lst*10

[1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3]

In [40]:
(2,3,4) * 2

(2, 3, 4, 2, 3, 4)

In [39]:
multiplier((2,3,4))

((2, 3, 4),)
type of args is -  <class 'tuple'>

(2, 3, 4, 2, 3, 4)

In [46]:
lst = [12,3,47,56]

In [50]:
2*12* 3* 47* 56

189504

In [48]:
multiplier(*lst)

(12, 3, 47, 56)
type of args is -  <class 'tuple'>

189504

In [52]:
def double_dict(**kwargs):
  output = {}
  for key,value in kwargs.items():
    output[key] = value*2
  return output

In [53]:
double_dict(x=10,y=20)

{'x': 20, 'y': 40}

In [55]:
dict1 = {"x":10,"y":20}

double_dict(**dict1)

{'x': 20, 'y': 40}

In [ ]:
# order -- positional,keyword arguments *args,**kwargs

In [57]:
def gen_fun(y,x=10):
  return x+y

In [59]:
gen_fun(50,5)

55

In [ ]:
mul = 1

lst = [1,2,3]

[]

In [80]:
def multiplier(x,y=10,*args,**kwrgs):
  mul = x*y
  print(args)
  # print("type of args is - ",type(args))
  # for num in args: #-- (2,3,4)
  #   mul = mul *num
  print(list(args))
  output = [mul*item for item in list(args)]
  print(output)
  return output

In [82]:
multiplier(2,3,*[1,2,3,4])

(1, 2, 3, 4)
[1, 2, 3, 4]
[6, 12, 18, 24]

[6, 12, 18, 24]

In [84]:
def greet(func):
  print(func("Hello"))

def func(name):
  return name

In [86]:
greet(func)

Hello

In [87]:
def sq_num(n):
  return n**2

def cube_num(n):
  return n**3


def list_func(lst,func):
  output = []
  for item in lst:
    output.append(func(item))
  return output

In [89]:
list_func([1,2,3],cube_num)

[1, 8, 27]

In [ ]:
# 5! = 5*4*3*2*1

# 0,1,1,2,3,5,8,13,21,34