<a href="https://colab.research.google.com/github/nageswar307/Python/blob/main/Day15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
string = "I Love Python"
string.lower()

'i love python'

In [3]:
lst = [1,2,3,4,5]

sq_lst = [1,4,9,16,25]

In [5]:
sq_lst = []

for item in lst:
  sq_lst.append(item**2)


sq_lst

[1, 4, 9, 16, 25]

In [ ]:
def fun_name(arg1,arg2):
  """
  docstring
  """
  # statements & operations

  return return_value

In [6]:
def sq_lst(lst):
  sq_lst = []

  for item in lst:
    sq_lst.append(item**2)

  return sq_lst

In [9]:
lst2 = [1,4,5,90,34]
sq_lst2 = sq_lst(lst2)
sq_lst2

[1, 16, 25, 8100, 1156]

In [18]:
num = [3, 1, 4, 1, 5,6,9,9,9,2] #get 2nd highest element

num_set = set(num)
num_set = list(num_set)
num_set[-2]

6

In [21]:
def second_highest(lst):
  num_set = set(lst)
  num_set = list(num_set)
  max_num = num_set[-2]
  return max_num

In [20]:
x = 10
y =12
z = x+y

22

In [28]:
def sum(x,y):
  z = x+y
  return z


sum = sum(10,12)
sum

22

In [31]:
del sum

In [32]:
def sum1(x,y):
  z = x+y
  return x,y,z


sum2 = sum1(10,12)
sum2

(10, 12, 22)

In [38]:
r,q,p = sum1(10,12)
print(r)

10

In [35]:
p,q = sum1(10,12)
print(p,q)

ValueError: too many values to unpack (expected 2)

In [41]:
p,*q = sum1(10,12) #--- 10,12,22
print("p value is - ",p)
print("q value is - ",q)

p value is -  10
q value is -  [12, 22]

In [44]:
def sum2(x,y,z,p):
  summ = x+y+z+p
  return x,y,z,p,summ

In [45]:
sum1 = sum2(1,2,3,4)
sum1

(1, 2, 3, 4, 10)

In [47]:
a,s,d,f,g = sum2(1,2,3,4)
print("a value is - ",a)
print("s value is - ",s)
print("d value is - ",d)
print("f value is - ",f)
print("g value is - ",g)

a value is -  1
s value is -  2
d value is -  3
f value is -  4
g value is -  10

In [48]:
a,s,g,*d = sum2(1,2,3,4)
print("a value is - ",a)
print("s value is - ",s)
print("g value is - ",g)
print("d value is - ",d)

a value is -  1
s value is -  2
g value is -  3
d value is -  [4, 10]

In [49]:
*a,s,d = sum2(1,2,3,4)
print("a value is - ",a)
print("s value is - ",s)
print("d value is - ",d)

a value is -  [1, 2, 3]
s value is -  4
d value is -  10

In [52]:
a,b,*s,d = sum2(1,2,3,4)
print("a value is - ",a)
print("b value is - ",b)
print("s value is - ",s)
print("d value is - ",d)

a value is -  1
b value is -  2
s value is -  [3, 4]
d value is -  10

In [53]:
def sum2(x,y,z,p):
  summ = x+y+z+p
  return x,y,z,p,summ


sum2("a","b")

TypeError: sum2() missing 2 required positional arguments: 'z' and 'p'

In [54]:
sum2("a","b","c","d")

('a', 'b', 'c', 'd', 'abcd')

In [55]:
"a"+3

TypeError: can only concatenate str (not "int") to str

In [56]:
sum2("a","b","c",3)

TypeError: can only concatenate str (not "int") to str

In [57]:
sum2(1,2)

TypeError: sum2() missing 2 required positional arguments: 'z' and 'p'

In [58]:
def sum2(x,y):
  print("x value is - ",x)
  print("y value is - ",y)
  summ = x+y
  return summ


sum2(1,2)

x value is -  1
y value is -  2

3

In [59]:
sum2(2,1)

x value is -  2
y value is -  1

3

In [60]:
def sum3(x,y,z=10):
  print("x value is - ",x)
  print("y value is - ",y)
  print("z value is - ",z)
  summ = x+y+z
  return summ


sum3(1,2)

x value is -  1
y value is -  2
z value is -  10

13

In [63]:
sum3(1,2,12)

x value is -  1
y value is -  2
z value is -  12

15

In [ ]:
# *args **kwargs
# higher order functions map
# decorators