<a href="https://colab.research.google.com/github/nageswar307/Python/blob/main/Day21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# class def
# object
# class has attributes and methods
# what does self refers to

In [3]:
# class & instance attributes
# class & instance Methods - @classmethod,instance & @staticmethod
# Encapsulation - @property
# getters and setters

In [9]:
class Test:
    def __init__(self,a,b):
        self.a = a
        self.b = b

    def add(self,a,b):
        return self.a + self.b

In [10]:
test1 = Test(1,2)

In [11]:
test1.a

1

In [12]:
test1.add()

TypeError: Test.add() missing 2 required positional arguments: 'a' and 'b'

In [25]:
class Test:
    def __init__(self,a,b):
        self.a = a
        self.b = b

    def add(self,x,y):
      return x+y


test1 = Test(1,2)
print("self.a and self.b values are ",test1.a,test1.b)

test1.add(10,20)

self.a and self.b values are  1 2

30

In [22]:
lst = [1,2,3]
lst.append("c")
lst

[1, 2, 3, 'c']

In [27]:
test2 = Test(10,20)
test2.add(100,200)

300

In [37]:
class Test:
    def __init__(self,a,b):
        self.a = a
        self.b = b

    def add(self): #instance method
        return self.a + self.b

obj1 = Test(10,20)
obj2 = Test(100,200)

In [38]:
obj1.add()

30

In [39]:
obj2.add()

300

In [40]:
Test.add() # need to pass instance object
Test.add()

TypeError: Test.add() missing 1 required positional argument: 'self'

In [56]:
class Test:
    def __init__(self,a,b):
        self.a = a
        self.b = b

    def add(self): #instance method
        return self.a + self.b

    @classmethod #class method
    def explains_class(cls):
        print(f"value of self is {cls}")
        print("this is a class that takes two arguments and has method to find their sum")

obj1 = Test(10,20)
obj2 = Test(100,200)

In [57]:
obj3 = Test(10,20)
obj3.explains_class()

value of self is <class '__main__.Test'>
this is a class that takes two arguments and has method to find their sum

In [58]:
Test.explains_class()

value of self is <class '__main__.Test'>
this is a class that takes two arguments and has method to find their sum

In [59]:
obj3.explains_class()

value of self is <class '__main__.Test'>
this is a class that takes two arguments and has method to find their sum

In [60]:
obj3.a

10

In [1]:
obj2

NameError: name 'obj2' is not defined

In [16]:
class Test:
    def __init__(self,a,b):
        self.a = a
        self.b = b

    def add(self): #instance method
        return self.a + self.b

    @classmethod              #class method
    def explains_class(cls):
        print(f"value of self is {cls}")
        print("this is a class that takes two arguments and has method to find their sum")

obj1 = Test(10,20)
obj2 = Test(100,200)

In [17]:
obj1.explains_class()

value of self is <class '__main__.Test'>
this is a class that takes two arguments and has method to find their sum

In [18]:
Test.explains_class()

value of self is <class '__main__.Test'>
this is a class that takes two arguments and has method to find their sum

In [20]:
Test.add()

TypeError: Test.add() missing 1 required positional argument: 'self'

In [19]:
# class methods work on both instance objects and classes
# whereas instance methods works only on instance objects

In [21]:
class Test:
    class_variable = 100 # class attribute
    def __init__(self,a,b):
        self.a = a #instance attributes a,b
        self.b = b

    def add(self): #instance method
        return self.a + self.b

    @classmethod #class method
    def explains_class(cls):
        print(f"value of self is {cls}")
        print("this is a class that takes two arguments and has method to find their sum")

obj1 = Test(10,20)
obj2 = Test(100,200)

In [22]:
obj1.a ,obj1.b

(10, 20)

In [23]:
obj2.a ,obj2.b

(100, 200)

In [24]:
Test.a,Test.b

AttributeError: type object 'Test' has no attribute 'a'

In [25]:
Test.class_variable

100

In [26]:
obj1.class_variable

100

In [27]:
obj2.class_variable

100

In [30]:
class Test:
    class_variable = 100 # class attribute
    def __init__(self,a,b):
        self.a = a #instance attributes a,b
        self.class_variable = b

    def add(self): #instance method
        return self.a + self.class_variable

    @classmethod #class method
    def explains_class(cls):
        print(f"value of self is {cls}")
        print("this is a class that takes two arguments and has method to find their sum")

obj1 = Test(10,20)
obj2 = Test(100,200)

In [31]:
obj1.__dict__

{'a': 10, 'class_variable': 20}

In [32]:
#MRO -- Method Resolution Order

In [33]:
obj1.class_variable

20

In [38]:
class Test:
    class_variable = 100 # class attribute
    def __init__(self,a,b):
        self.a = a #instance attributes a,b
        self.class_variable = b

    def add(self): #instance method
        return self.a + self.class_variable

    @classmethod #class method
    def explains_class(cls):
        print(f"value of self is {cls}")
        print("this is a class that takes two arguments and has method to find their sum")

    @staticmethod
    def static_method():
        print("this is a static method")

obj1 = Test(10,20)
obj2 = Test(100,200)

In [39]:
obj1.static_method()

this is a static method

In [40]:
Test.static_method()

this is a static method

In [42]:
static_method(obj1)

NameError: name 'static_method' is not defined

In [44]:
class Student:
    def __init__(self,name,age):
        self.name = name
        self.age = age


student = Student("John",20)
print(student.name,student.age)

John 20

In [45]:
student.age =25

In [46]:
student.__dict__

{'name': 'John', 'age': 25}

In [49]:
class Student:
    def __init__(self,name,age):
        self._name = name
        self._age = age


student = Student("John",20)
print(student._name,student._age)

John 20

In [51]:
student._age =25
student.__dict__

{'_name': 'John', '_age': 25}

In [60]:
class Student:
    def __init__(self,name,age):
        self._name = name
        self._age = age


student = Student("John",20)
print(student._name,student._age)

John 20

In [61]:
student._name = 25
student.__dict__

{'_name': 25, '_age': 20}

In [62]:
student.age = -5

In [63]:
student.name = ""

In [ ]:
# getter ---> create a method for attribute with attribute name and use @property --- this method's return value should be self,_attribute
# setter ---> create a method for attribute with attribute name and use @attribute_name.setter decorator --- this method's return value should be self._attribute after validation

In [7]:
class Student:
    def __init__(self,name,age):
        self._name = name
        self._age = age

    @property # GETTER or Accessor
    def name(self):
        return self._name

    @name.setter  # SETTER or MUTATOR
    def name(self,value):
      if not value:
        raise ValueError("name cannot be empty")
        self._name = name

    @property
    def age(self):
        return self._age

    @age.setter
    def age(self,value):
      if value < 0:
        raise ValueError("age cannot be negative")
        self._age = age

student = Student("John",20)
print(student.__dict__)

{'_name': 'John', '_age': 20}

In [5]:
student._name = ""
student.__dict__

ValueError: name cannot be empty

In [80]:
class Student:
    def __init__(self,name,age):
        self._name = name
        self._age = age

In [81]:
student = Student("John",20)
student.__dict__

{'_name': 'John', '_age': 20}

In [82]:
student.name = "bob"
student.__dict__

{'_name': 'John', '_age': 20, 'name': 'bob'}

In [ ]:
#Inheritance
#Method & Operator overloading

In [ ]:
# classes & object