<a href="https://colab.research.google.com/github/nageswar307/Python/blob/main/Day20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 10

In [2]:
type(x)

int

In [3]:
lst = [1,2,3,4]

In [4]:
type(lst)

list

In [5]:
dir(lst)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
lst.append(10)
lst

[1, 2, 3, 4, 10, 10, 10]

In [16]:
lst = list()
lst

[]

In [11]:
class Car: # class list()
    pass

In [17]:
car1 = Car()
car1.brand = "Tata"
car1.model = "Tiago"
car1.price = 8.5

In [18]:
car1.brand

'Tata'

In [19]:
car2 = Car()
car2.brand = "Maruti"
car2.model = "800"
car2.price = 6.5

In [20]:
car2.brand

'Maruti'

In [71]:
lst = [1,2,3,4]
lst.append()

TypeError: list.append() takes exactly one argument (0 given)

In [74]:
class Car:
    def __init__(self, brand, model, price,distance_travelled,fuel_consumption):
        self.brand = brand
        self.model = model
        self.price = price
        self.distance_travelled = distance_travelled
        self.fuel_consumption = fuel_consumption
        print("init method got executed when car object is created")
    def __str__(self):
        return f"Car(brand={self.brand}, model={self.model}, price={self.price})"

    def greet(self):
        print(f"Hello! Welcome to {self.brand} {self.model}")
        return f"Car(brand={self.brand}, model={self.model}, price={self.price})"

    def mileage(self,distance_travelled,fuel_consumption):
        return distance_travelled/fuel_consumption

In [75]:
car1 = Car("Tata", "Tiago", 8.5,100,5)
print(f"created car1 object of class Car with attributes brand: {car1.brand}, model: {car1.model}, price: {car1.price}")

init method got executed when car object is created
created car1 object of class Car with attributes brand: Tata, model: Tiago, price: 8.5

In [76]:
car1.__str__()

'Car(brand=Tata, model=Tiago, price=8.5)'

In [77]:
car1.greet()

Hello! Welcome to Tata Tiago

'Car(brand=Tata, model=Tiago, price=8.5)'

In [79]:
car1.mileage(100,5)

20.0

In [ ]:
# len sum max min round range sorted

In [ ]:
# lst =[1,2,3,4]

# lst.append(10)
# lst.remove(1)
# lst.pop()

In [ ]:
lst1 = list()
lst2 = list()

In [97]:
class TestClass:
  def __init__(self,name):
    self.name = name
  def test_method(self):
    print(f"value or type of self is {self}")
    print(f"value or type of name is {self.name}")

In [96]:
test1  = TestClass("apple")
test2 = TestClass("banana")

In [92]:
test = TestClass("apple")
test.test_method()

value or type of self is <__main__.TestClass object at 0x7b918212d690>
value or type of name is apple

In [94]:
test2 = TestClass("banana")
test2.test_method()

value or type of self is <__main__.TestClass object at 0x7b9182110650>
value or type of name is banana

In [114]:
class Test:
  name2 = "Alice" # class attribute
  def __init__(self,name): # instance attribute
    self.name = name

In [115]:
test3 = Test("Bob")
test3.name

'Bob'

In [117]:
test3.name2

'Alice'

In [116]:
test4 = Test("Charles")
test4.name

'Charles'

In [118]:
test4.name2

'Alice'

In [123]:
class Test2:
  def __init__(name):
    print(f"printing name variable {name}")

In [121]:
test5 = Test2()

printing name variable <__main__.Test2 object at 0x7b91820f9750>

In [122]:
test6 = Test2()

printing name variable <__main__.Test2 object at 0x7b91820fa610>

In [131]:
class Test3:
  def __init__(self,name):
    self.name = name
    print(f"printing name variable {name}")

In [132]:
test10 = Test3("apple")
test10.name

printing name variable apple

'apple'

In [133]:
test11 = Test3("banana")
test11.name

printing name variable banana

'banana'