<a href="https://colab.research.google.com/github/nageswar307/Python/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List Comprehensions

In [1]:
lst = [2,3,4,5]

In [ ]:
output = [4,9,16,25]

In [3]:
output = []

for ele in lst:
  sq = ele**2
  output.append(sq)
output

[4, 9, 16, 25]

In [5]:
output = [ele**2 for ele in lst]
output

[4, 9, 16, 25]

In [6]:
lst = [1,2,3,4,5,6]
even_lst = [2,4,6]

In [10]:
even_lst = []
odd_lst = []
for ele in lst:
  if ele % 2==0:
    even_lst.append(ele)
  else:
    odd_lst.append(ele)


even_lst,odd_lst

([2, 4, 6], [1, 3, 5])

In [11]:
even_lst = [ele for ele in lst if ele%2==0]
odd_lst = [ele for ele in lst if ele%2!=0]
even_lst,odd_lst

([2, 4, 6], [1, 3, 5])

In [12]:
lst = [True ,False, False, True]

output = [1,0,0,1]

In [13]:
output = []

for i in lst:
  if i == True:
    output.append(1)
  else:
    output.append(0)

output

[1, 0, 0, 1]

In [19]:
output = [1 if i==True else 0 for i in lst]
output

[1, 0, 0, 1]

In [30]:
num = 10
n = 1
output = []
while n<=num:
  n = n+1
  sq = n**2
  output.append(sq)

output

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [44]:
import time

start_time = time.time()
output = []

for i in range(1,10000):
  sq = i**2
  output.append(sq)

end_time = time.time()
print(end_time-start_time)

0.007750034332275391

In [45]:
 start_time = time.time()

 output = [i**2 for i in range(1,10000)]

 end_time = time.time()
 print(end_time-start_time)

0.00444483757019043

## Dictionaries

In [46]:
dict1 = {

         "name" : "John",
         "age" : 30,
         "city" : "New York"
}

In [47]:
lst = ["John",30,"New York"]

In [50]:
set1 = [1,2,4,58,23]

In [51]:
set1[0]

1

In [52]:
dict1 = {

         "name" : "John",
         "age" : 30,
         "city" : "New York"
}

In [ ]:
dict1 = dict()
dict1 = {

         "name" : "John",
         "age" : 30,
         "city" : "New York"
}

In [60]:
[]

TypeError: list expected at most 1 argument, got 3

In [59]:
list(("name", "John"), ("age",30), ("city","New York"))

TypeError: list expected at most 1 argument, got 3

In [80]:
dict1 = dict([("name", "John"), ("age",30), ("city","New York"),("education", "Graduate")])
dict1

{'name': 'John', 'age': 30, 'city': 'New York', 'education': 'Graduate'}

In [62]:
## Accessing elements

dict1["name"]

'John'

In [63]:
dict1["age"]

30

In [64]:
dict1["city"]

'New York'

In [65]:
dict1["education"]

KeyError: 'education'

In [99]:
dict1["Nationality"] = "Indian"

In [100]:
dict1["age"] = 20

In [101]:
dict1

{'name': 'John',
 'age': 20,
 'city': 'New York',
 'education': 'Graduate',
 'company': 'TCS',
 'Nationality': 'Indian'}

In [70]:
dict1.get("education","Not Present")

'Not Present'

In [67]:
dict1

{'name': 'John', 'age': 30, 'city': 'New York'}

In [75]:
dict1.keys()

dict_keys(['name', 'age', 'city'])

In [72]:
dict1.values()

dict_values(['John', 30, 'New York'])

In [73]:
dict1.items()

dict_items([('name', 'John'), ('age', 30), ('city', 'New York')])

In [81]:
dict2 = {"education" : "Graduate","company" : "TCS"}

In [82]:
dict1.update(dict2)

In [83]:
dict1

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'education': 'Graduate',
 'company': 'TCS'}

In [84]:
dict3 = dict1 | dict2
dict3

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'education': 'Graduate',
 'company': 'TCS'}

In [87]:
## Iteration on dictionaries

for i in dict1:
  print(i)

name
age
city
education
company

In [86]:
for key in dict1.keys():
  print(key)

name
age
city
education
company

In [88]:
for value in dict1.values():
  print(value)

John
30
New York
Graduate
TCS

In [89]:
dict1

{'name': 'John',
 'age': 30,
 'city': 'New York',
 'education': 'Graduate',
 'company': 'TCS'}

In [93]:
dict4 = {"a":1, "b":2, "c":3}
# rev_dict = {1:"a", 2: "b", 3:"c"}
# rev_dict

{1: 'a', 2: 'b', 3: 'c'}

In [105]:
rev_dict = {}

for i,j in dict4.items():
  rev_dict[j] = i

rev_dict

{1: 'a', 2: 'b', 3: 'c'}

In [108]:
rev_dict = {value:key for key,value in dict4.items()}

rev_dict

{1: 'a', 2: 'b', 3: 'c'}

In [115]:
# Nested Dictionaries

nested_dict = {

               "Name" : "John",
               "Age" : 30,
               "City" : "New York",
               "Subjects" : {"Maths" : 90, "Science" : 80, "English" : 70, "Grades" : { "Maths" : "A", "Science" : "B", "English" : "C"}}
}


nested_dict

{'Name': 'John',
 'Age': 30,
 'City': 'New York',
 'Subjects': {'Maths': 90,
  'Science': 80,
  'English': 70,
  'Grades': {'Maths': 'A', 'Science': 'B', 'English': 'C'}}}

In [113]:
nested_dict["Subjects"]["Maths"]

90

In [117]:
nested_dict["Subjects"]["Grades"]["Maths"]

'A'

In [118]:
dict5 = {"a":1,"b":2,"c":3}

In [120]:
dict5["d"]

KeyError: 'd'

In [121]:
dict5.setdefault("d",5)

5

In [123]:
dict5.pop("a")

1

In [124]:
dict5

{'b': 2, 'c': 3, 'd': 5}

In [125]:
del dict5["b"]

In [126]:
dict5

{'c': 3, 'd': 5}

In [128]:
dict5 = {"a":1,"b":2,"c":3,"a":4} #keys should be unique


dict5

{'a': 4, 'b': 2, 'c': 3}

In [130]:
dict5 = {"a":1,"b":2,"c":3,"a":4,"a":-1}
dict5

{'a': -1, 'b': 2, 'c': 3}

In [131]:
dict6 = {"a":[1,2,3],"b":[2,3,4],"c":[4,5,6]}

dict6

{'a': [1, 2, 3], 'b': [2, 3, 4], 'c': [4, 5, 6]}

In [135]:
# keys should be immutable like tuples or strings
dict6 = {[1,2,3] : "a",
         [2,3,4] : "b",
         [4,5,6] : "c"}

TypeError: unhashable type: 'list'

In [136]:
dict6 = {(1,2,3) : "a",
         (2,3,4) : "b",
         (4,5,6) : "c"}

dict6

{(1, 2, 3): 'a', (2, 3, 4): 'b', (4, 5, 6): 'c'}

In [138]:
lst = [1,2,3]
lst[0] = 5
lst

[5, 2, 3]

In [141]:
tuple1 = (1,2,3)
tuple1[0] = 5

TypeError: 'tuple' object does not support item assignment

## User Defined Functions

In [144]:
lst = [1,2,3]


# output = [11,12,13]
output = []

for i in lst:
  output.append(i+10)

output

[11, 12, 13]

In [146]:
#function to find out square given a number


def square(num):
  '''
  This function returns the square of a number
  arguments : int
  returns : int
  '''
  sq = num**2
  return sq

In [148]:
square(2)

4

In [153]:
def add(a,b,c):
  '''
  This function returns the sum of three numbers
  arguments : int
  returns : int
  '''
  addition = a+b+c
  return addition


add(2,3,5)

10

In [155]:
def add(a,b,c=0):
  '''
  This function returns the sum of three numbers
  arguments : int
  returns : int
  '''
  addition = a+b+c
  return addition

add(2,3)

5

In [161]:
def add(*args):
  '''
  This function returns the sum of numbers
  arguments : list of numbers
  returns : int
  '''
  addition = 0
  for i in args:
    addition = addition + i
  return addition

add(2,3,4,5,6,12,34,56,98,12)

232

In [165]:
def square_list(lst: list) -> list:
  output = []
  for i in lst:
    output.append(i**2)
  return output

square_list([1,2,3,4,5])

[1, 4, 9, 16, 25]

In [160]:
square_list([90,1,2,12])

[8100, 1, 4, 144]