<a href="https://colab.research.google.com/github/nageswar307/Python/blob/main/Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
company = {
    "employees": {
        "JohnDoe": {
            "position": "Software Engineer",
            "department": "IT",
            "skills": ["Python", "JavaScript", "SQL"],
            "salary": 85000
                    },
        "JaneSmith": {
            "position": "Project Manager",
            "department": "Operations",
            "skills": ["Leadership", "Scrum", "Budgeting"],
            "salary": 95000
                    },
    "departments": ["IT", "Operations", "Data Analysis"],
    "location": "New York",
    "founded": 2010,
              },
    "infra" : {
        "servers": "abc"
              }
    }

In [35]:
company["employees"]["JohnDoe"]["skills"].append("Devops")

In [36]:
company

{'employees': {'JohnDoe': {'position': 'Software Engineer',
   'department': 'IT',
   'skills': ['Python', 'JavaScript', 'SQL', 'Devops'],
   'salary': 85000},
  'JaneSmith': {'position': 'Project Manager',
   'department': 'Operations',
   'skills': ['Leadership', 'Scrum', 'Budgeting'],
   'salary': 95000},
  'departments': ['IT', 'Operations', 'Data Analysis'],
  'location': 'New York',
  'founded': 2010},
 'infra': {'servers': 'abc'}}

In [37]:
dict1.update("skills": "Devops")

SyntaxError: invalid syntax (<ipython-input-37-5a83fc9930d6>, line 1)

In [38]:
lst = list(company)

In [39]:
company["employees"]["JaneSmith"].keys()

dict_keys(['position', 'department', 'skills', 'salary'])

In [45]:
for key,value in company.items():
  print("keys-----",key)
  print("values-----",value)

keys----- employees
values----- {'JohnDoe': {'position': 'Software Engineer', 'department': 'IT', 'skills': ['Python', 'JavaScript', 'SQL', 'Devops'], 'salary': 85000}, 'JaneSmith': {'position': 'Project Manager', 'department': 'Operations', 'skills': ['Leadership', 'Scrum', 'Budgeting'], 'salary': 95000}, 'departments': ['IT', 'Operations', 'Data Analysis'], 'location': 'New York', 'founded': 2010}
keys----- infra
values----- {'servers': 'abc'}

In [43]:
company.items()

dict_items([('employees', {'JohnDoe': {'position': 'Software Engineer', 'department': 'IT', 'skills': ['Python', 'JavaScript', 'SQL', 'Devops'], 'salary': 85000}, 'JaneSmith': {'position': 'Project Manager', 'department': 'Operations', 'skills': ['Leadership', 'Scrum', 'Budgeting'], 'salary': 95000}, 'departments': ['IT', 'Operations', 'Data Analysis'], 'location': 'New York', 'founded': 2010}), ('infra', {'servers': 'abc'})])

In [ ]:
lst = ["abc",12,12.5,True]

In [50]:
nums = [3,2,4]
output=[]
number=0
for index,values in enumerate(nums):
  number=number+values
  #sum of list
  if number==6:
    output.append(index-1)
    output.append(index)

    print(output)
    output=[]
  number=nums[index]

[1, 2]

In [ ]:
nums = [3,2,4]

for i in range(len(nums)):
  for j in range(i+1,len(nums)):
    if nums[i]+nums[j]==6:
      print([i,j])

## User Defined Functions

In [53]:
lst = [1,2,3,4]
sq_lst = [x**2 for x in lst]

sq_lst

[1, 4, 9, 16]

In [65]:
lst = [1,2,3,4]
lst2 = ["a","b","c"]
lst3 = ["q","w","r","t"]

list(zip(lst,lst2,lst3))

[(1, 'a', 'q'), (2, 'b', 'w'), (3, 'c', 'r')]

1. Type Conversion Functions
int() – Converts to integer
float() – Converts to float
str() – Converts to string
list() – Converts to list
tuple() – Converts to tuple
dict() – Converts to dictionary
set() – Converts to set
bool() – Converts to boolean
complex() – Creates a complex number
2. Math and Numeric Functions
abs(x) – Absolute value
pow(x, y) – Raises x to the power y
round(x, n) – Rounds x to n decimal places
min() – Returns the smallest value
max() – Returns the largest value
sum() – Sums items in an iterable
divmod(x, y) – Returns quotient and remainder
bin(x) – Converts to binary
hex(x) – Converts to hexadecimal
oct(x) – Converts to octal
3. Sequence and Iterable Functions
len() – Returns the length of an object
range() – Generates a sequence of numbers
enumerate() – Returns index and value pairs
sorted() – Returns a sorted list
reversed() – Reverses an iterable
zip() – Combines iterables element-wise
map() – Applies a function to each element
filter() – Filters elements based on a condition
4. String Functions
chr(x) – Converts an ASCII value to a character
ord(x) – Converts a character to its ASCII value
format() – Formats a value
repr() – Returns a string representation
5. Input/Output Functions
print() – Prints to the console
input() – Takes user input
open() – Opens a file
6. Object and Type Functions
type() – Returns the type of an object
id() – Returns the memory address of an object
isinstance() – Checks if an object is of a certain type
issubclass() – Checks subclass relationship
7. Logic and Comparison
all() – Returns True if all elements are True
any() – Returns True if any element is True
bool() – Returns the boolean value of an object
8. Miscellaneous Functions
help() – Displays help information
dir() – Lists attributes of an object
eval() – Evaluates a string as Python code
exec() – Executes Python code
globals() – Returns the global symbol table
locals() – Returns the local symbol table

In [ ]:
lst = [1,2,3,4]
lst.

In [75]:
# functions can return any object in python i.e int,string, another fun, or list, dict,
# and also you can return multiple objects as well

In [68]:
def add(a,b):
  sum = a+b
  return sum

In [ ]:
def func_call(params):
  # statements
  # operations
  return return_value

In [70]:
def greet(name):
  print("Hello",name)
  return ""

In [76]:
def squraed_list(lst):
  sq_lst = []
  for num in lst:
    sq_lst.append(num**2)
  return lst, sq_lst

In [84]:
x = [10,20,30,40]

x_squared = squraed_list(x)
x_squared[0]

[10, 20, 30, 40]

In [80]:
x_squared

[100, 400, 900, 1600]

In [106]:
def add(a,b):
  sum = a+b
  return sum

In [ ]:
add(2,3)

In [89]:
def add(a,b=10):
  sum = a+b
  return sum

In [91]:
add(15)

25

In [90]:
add(12,19)

31

In [101]:
def multiply(*args):
  output = 1
  # print("type of args ----", type(args))
  for num in args:
    output = output*num
  return output

In [102]:
multiply(1,2,3,4,5,6,7)

type of args ---- <class 'tuple'>

5040

In [113]:
def kwargs_func(**kwargs):
  print("kwargs -----",kwargs)
  for key,value in kwargs.items():
    print(key,value)

In [114]:
kwargs_func(name="abc",job="engineer")

kwargs ----- {'name': 'abc', 'job': 'engineer'}
name abc
job engineer