<a href="https://colab.research.google.com/github/nageswar307/Python/blob/main/Day9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name = input("what's your name")

what's your namedfjsknnc

In [12]:
x = 100
y = 200
z = 300

In [13]:
print(x,y)

100 200

In [19]:
print(x,y,sep = "|")

100|200

In [18]:
print(x,y,end = " ")
print(z)

100 200 300

In [22]:
name = input("what's your name")
print(f"hi {name} how you are doing")

what's your namenageswar
hi nageswar how you are doing

In [24]:
print("hi this item \"XYZ\" very important")

hi this item "XYZ" very important

In [25]:
print('hi this item "XYZ" very important')

hi this item "XYZ" very important

In [26]:
print("hi this item 'XYZ' very important")

hi this item 'XYZ' very important

In [27]:
print('hi this item \'XYZ\' very important')

hi this item 'XYZ' very important

In [ ]:
int,float.str,boolean

In [28]:
name = "xyz"
age = 10
price = 10.5
exists = True
does_not_exist = False

In [34]:
age = input("enter your age")
print(age)
print(type(age))

enter your age10
10
<class 'str'>

In [30]:
type(age)

str

In [33]:
age = input("enter your age")
age = int(age)
print(age)
print(type(age))

enter your age10
10
<class 'int'>

In [35]:
age = input("enter your age")
age = float(age)
print(age)
print(type(age))

enter your age10
10.0
<class 'float'>

In [41]:
100**3

1000000

In [36]:
## Basic Arithmetic opearations
p = 100
q = 9
print("summation of p & q is ", p+q)
print("subtraction of p & q is ", p-q)
print("multiplication of p & q is ", p*q)
print("division of p & q is ", p/q)
print("floor division of p & q is ", p//q)
print("modulus of p & q is ", p%q)
print("power of p & q is ", p**q)

summation of p & q is  109
subtraction of p & q is  91
multiplication of p & q is  900
division of p & q is  11.11111111111111
floor division of p & q is  11
modulus of p & q is  1
power of p & q is  1000000000000000000

In [ ]:
# if condition1 :

In [56]:
z = 10
q = 20

num = input("enter a number")
num = int(num)


# if --> elif(can check multiple conditions) ---> else
if num < z:
    print(f"{num} is less than {z}")
elif num == z or num ==q :
    print(f"{num} is equal to either z or q")
elif num > q:
    print(f"{num} is greater than {z}")
else:
    print(f"it is in the range of {z} and {20}")

enter a number10
10 is equal to either z or q