<a href="https://colab.research.google.com/github/nageswar307/Python/blob/main/PythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a function that takes a string and prints it in reverse, but with a twist: every vowel (a, e, i, o, u) in the reversed string should be replaced by its position in the alphabet (e.g., a ‚Üí 1, e ‚Üí 5, etc.).

Example:

Input: "Hello World"

Output: "dlroW 15ll5"

2.Palindrome Checker with a Twist

Write a function that checks if a string is a palindrome (reads the same forward and backward). However, it should ignore spaces, punctuation, and case.

Example:

Input: "A man, a plan, a canal, Panama"

Output: True (it's a palindrome)

3.Fibonacci Sequence with a Catch

Write a function to generate the first n Fibonacci numbers, but instead of the usual 0 and 1 starting the sequence, you start with two random numbers between 1 and 10.

Example:

Input: n=5

Output: starting with 3, 8 -> [3, 8, 11, 19, 30]

4.Guess the Number Game (with Python Code)

Create a Python program that picks a random number between 1 and 100 and then lets the user guess it. The program should give hints whether the guess is too high, too low, or correct.

5.Reverse Words in a Sentence

Write a function that reverses the words in a sentence, but leaves the characters in each word in the original order.

Example:

Input: "Hello World"

Output: "World Hello"

6.Unique Character String

Write a function that checks if all characters in a string are unique (i.e., no character appears more than once).

Example:

Input: "abcdef"

Output: True (all characters are unique)

Input: "aab"

Output: False (repeated 'a')

7.Counting Vowels and Consonants

Write a function that counts the number of vowels and consonants in a string and returns them as a tuple.

Example:

Input: "Hello World"

Output: (3, 7) (3 vowels: 'e', 'o', 'o'; 7 consonants)

8.Anagram Checker

Write a function to check whether two strings are anagrams of each other (contain the same characters in the same frequency).

Example:

Input: "listen", "silent"

Output: True (They are anagrams)

9.Custom Sort (Sorting with Custom Rule)

Write a function that sorts a list of strings, but the sorting rule is to prioritize strings with more vowels first, and then sort alphabetically for strings with the same number of vowels.

Example:

Input: ['banana', 'apple', 'kiwi', 'pear']

Output: ['banana', 'apple', 'kiwi', 'pear'] (banana and apple come before pear because they have more vowels)

In [ ]:
'''
Q10.

FizzBuzz with a Twist

Write a Python program that prints the numbers from 1 to 50.
But for multiples of 3, print "Fizz" instead of the number, and for multiples of 5, print "Buzz".
For numbers that are multiples of both 3 and 5, print "FizzBuzz".
For all other numbers, print their square.

Expected Output (Partial):

1
4
Fizz
16
Buzz
Fizz
49
'''

'\n10.\nFizzBuzz with a Twist\n\nWrite a Python program that prints the numbers from 1 to 50.\nBut for multiples of 3, print "Fizz" instead of the number, and for multiples of 5, print "Buzz".\nFor numbers that are multiples of both 3 and 5, print "FizzBuzz".\nFor all other numbers, print their square.\n\nExpected Output (Partial):\n\n1\n4\nFizz\n16\nBuzz\nFizz\n49\n'

In [ ]:
'''
Q11.
Write a function diagonal_sum(matrix) that takes a 2D list (matrix) as input and returns the sum of its diagonal elements. Assume the matrix is square (NxN).

Example Input:

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
diagonal_sum(matrix)

Expected Output:

15  # (1 + 5 + 9)
'''

'\nQ11.\nWrite a function diagonal_sum(matrix) that takes a 2D list (matrix) as input and returns the sum of its diagonal elements. Assume the matrix is square (NxN).\n\nExample Input:\n\nmatrix = [\n    [1, 2, 3],\n    [4, 5, 6],\n    [7, 8, 9]\n]\ndiagonal_sum(matrix)\n\nExpected Output:\n\n15  # (1 + 5 + 9)\n'

In [ ]:
'''
Q12.

Find the Second Largest Element

Write a function second_largest(lst) that takes a list of integers and returns the second largest element.
Handle edge cases where the list has fewer than 2 unique elements.

Example Input:

second_largest([3, 1, 4, 1, 5, 9, 2])

Expected Output:

5

'''

'\nQ12.\n\nFind the Second Largest Element\n\nWrite a function second_largest(lst) that takes a list of integers and returns the second largest element.\nHandle edge cases where the list has fewer than 2 unique elements.\n\nExample Input:\n\nsecond_largest([3, 1, 4, 1, 5, 9, 2])\n\nExpected Output:\n\n5\n\n'

In [ ]:
'''
Q13
Flatten a Nested List

Write a function flatten_list(nested_list) that takes a list, which may contain nested lists, and returns a flattened version of the list.

Example Input:

flatten_list([1, [2, 3, [4]], 5])

Expected Output:

[1, 2, 3, 4, 5]
'''

'\nFlatten a Nested List\n\nWrite a function flatten_list(nested_list) that takes a list, which may contain nested lists, and returns a flattened version of the list.\n\nExample Input:\n\nflatten_list([1, [2, 3, [4]], 5])\n\nExpected Output:\n\n[1, 2, 3, 4, 5]\n'

In [ ]:
'''
Q14
Count Words in a Sentence

Write a function count_words(sentence) that takes a string and returns a dictionary with each unique word as the key and its frequency as the value. Ignore punctuation and case.

Example Input:

count_words("This is a test. This test is fun!")

Expected Output:

{'this': 2, 'is': 2, 'a': 1, 'test': 2, 'fun': 1}
'''

'\nCount Words in a Sentence\n\nWrite a function count_words(sentence) that takes a string and returns a dictionary with each unique word as the key and its frequency as the value. Ignore punctuation and case.\n\nExample Input:\n\ncount_words("This is a test. This test is fun!")\n\nExpected Output:\n\n{\'this\': 2, \'is\': 2, \'a\': 1, \'test\': 2, \'fun\': 1}\n'

In [ ]:
'''
Q15.

Find the Longest Substring Without Repeating Characters
Write a function longest_unique_substring(s) that takes a string and returns the length of the longest substring with all unique characters.

Example Input:
longest_unique_substring("abcabcbb")

Expected Output:
3  # "abc"

'''

'\nQ15.\n\nFind the Longest Substring Without Repeating Characters\nWrite a function longest_unique_substring(s) that takes a string and returns the length of the longest substring with all unique characters.\n\nExample Input:\nlongest_unique_substring("abcabcbb")\n\nExpected Output:\n3  # "abc"\n\n'

In [ ]:
'''
Q16.

Find the Missing Number in a List
Write a function find_missing_number(nums) that takes a list of numbers from 1 to
ùëõ
n with one number missing, and returns the missing number.

Example Input:
find_missing_number([1, 2, 4, 5, 6])
Expected Output:
3
'''

'\nQ16.\n\nFind the Missing Number in a List\nWrite a function find_missing_number(nums) that takes a list of numbers from 1 to \nùëõ\nn with one number missing, and returns the missing number.\n\nExample Input:\nfind_missing_number([1, 2, 4, 5, 6])\nExpected Output:\n3\n'

In [ ]:
'''
Q17.

Sort a List of Tuples by the Second Element
Write a function sort_by_second_element(lst) that takes a list of tuples and sorts them based on the second element of each tuple.

Example Input:
sort_by_second_element([(1, 3), (4, 2), (2, 5)])
Expected Output:
[(4, 2), (1, 3), (2, 5)]

'''

'\nQ17.\n\nSort a List of Tuples by the Second Element\nWrite a function sort_by_second_element(lst) that takes a list of tuples and sorts them based on the second element of each tuple.\n\nExample Input:\nsort_by_second_element([(1, 3), (4, 2), (2, 5)])\nExpected Output:\n[(4, 2), (1, 3), (2, 5)]\n\n'

In [ ]:
'''
Q18.

Find All Prime Numbers in a Range
Write a function find_primes_in_range(start, end) that returns a list of all prime numbers in the range [start, end].

Example Input:
find_primes_in_range(10, 30)
Expected Output:
[11, 13, 17, 19, 23, 29]

'''

'\nQ18.\n\nFind All Prime Numbers in a Range\nWrite a function find_primes_in_range(start, end) that returns a list of all prime numbers in the range [start, end].\n\nExample Input:\nfind_primes_in_range(10, 30)\nExpected Output:\n[11, 13, 17, 19, 23, 29]\n\n'

In [ ]:
'''
Q19.
Find the First Non-Repeating Character
Write a function first_non_repeating_char(s) that takes a string and returns the first character that does not repeat. If all characters repeat, return None.

Example Input:
first_non_repeating_char("swiss")
Expected Output:
'w'

'''

'\nQ19.\nFind the First Non-Repeating Character\nWrite a function first_non_repeating_char(s) that takes a string and returns the first character that does not repeat. If all characters repeat, return None.\n\nExample Input:\nfirst_non_repeating_char("swiss")\nExpected Output:\n\'w\'\n\n'

In [ ]:
# iterate - chars
# find count - for each char
# count ==1
# store

In [ ]:
string = "swwiissz"

for char in string:
  if string.count(char) == 1:
    print("first non repeating character is ",char)
    break

In [ ]:
'''
Q20

Check for a Pangram
Write a function is_pangram(sentence) that checks if a given sentence contains every letter of the English alphabet at least once (case insensitive).

Example Input:
is_pangram("The quick brown fox jumps over the lazy dog")

Expected Output:
True

'''

'\nQ20\n\nCheck for a Pangram\nWrite a function is_pangram(sentence) that checks if a given sentence contains every letter of the English alphabet at least once (case insensitive).\n\nExample Input:\nis_pangram("The quick brown fox jumps over the lazy dog")\n\nExpected Output:\nTrue\n\n'

In [ ]:
'''
Q21

Sum of digits in a number

Problem: Write a function to calculate the sum of the digits of a number.
Input: 1234
Output: 10 (1+2+3+4)
Hint: Convert the number to a string or use the
modulo operator % to extract digits.

'''

In [ ]:
'''
Q22

Check if a list is sorted

Problem: Write a function to check if a list of numbers is sorted in ascending order.
Input: [1, 2, 3, 4, 5]
Output: True
Input: [5, 3, 2, 1]
Output: False
Hint: Use a loop or compare the list to its sorted version.

'''

In [ ]:
'''
Q23

Find all the duplicate elements in a given list without using the collections module.
# Input
nums = [4, 3, 2, 7, 8, 2, 3, 1]
# Output
print(find_duplicates(nums))  # [3, 2]

'''

In [ ]:
'''
Q24

Rotate a given n x n matrix 90 degrees clockwise in place.
# Input
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
            ]
rotate_matrix(matrix)

    Output
    print(matrix)
    [
      [7, 4, 1],
      [8, 5, 2],
      [9, 6, 3]
    ]

'''

In [ ]:
'''
Q25
Alien Dictionary
Problem Statement:
Aliens have a unique alphabetical order for their language.
Given a list of words in this order, write a function to validate whether the list is sorted.

Input:
A list of words, e.g., ["gak", "gaj", "kam"]
A string representing the alien order, e.g., "gkajmxyz"
Output:
True (if sorted) or False (if not).


'''

In [ ]:
'''
Q26

Sentence Encryption Game
Problem Statement:
Create a program to encrypt a sentence using the following rules:

Reverse each word.
Replace all vowels with the next vowel in "aeiou" (cyclic).
Maintain the word order.
Input:
A string, e.g., "hello world"

Output:
A string, e.g., "hillu werld"

'''

In [ ]:
'''
Q27
Event Scheduler
Problem Statement:
You are building a scheduling app. Write a program to check if a new event can fit into an existing schedule without overlapping.

Input:

A list of tuples representing current events, e.g., [(1, 3), (5, 6), (8, 10)]
A tuple representing the new event, e.g., (4, 5)
Output:
True

Input:
Current events: [(2, 4), (7, 10), (12, 15)]
New event: (5, 8)

Output:
False
'''

In [ ]:
'''
Q28

Digital Safe Cracker
You are trying to crack a digital safe.
The safe opens when the sum of all digits in a 6-digit code equals a given number.
Write a program to generate all possible valid 6-digit codes that satisfy the sum condition.

Input:
An integer representing the required sum, e.g., 15.
Output:
A list of 6-digit codes where the sum of the digits equals the given number, e.g., ["159951", "357951", ...]
'''

In [ ]:
'''
Q29

Merge Intervals
Given a collection of intervals, merge all overlapping intervals.

Example:
Input: intervals = [[1, 3], [2, 6], [8, 10], [15, 18]]
Output: [[1, 6], [8, 10], [15, 18]]
Explanation: The intervals [1, 3] and [2, 6] overlap, so they are merged into [1, 6].
'''

In [ ]:
'''
Q30
Valid Parentheses
Given a string s containing just the characters '(', ')', '{', '}', '[', ']', determine if the input string is valid. An input string is valid if:

Open brackets must be closed by the same type of brackets.
Open brackets must be closed in the correct order.
Example 1:
Input:
s = "()"

Output:
True

Example 2:
Input:
s = "()[]{}"

Output:
True

Example 3:
Input:
s = "(]"

Output:
False

Example 4:
Input:
s = "([)]"

Output:
False

'''

In [ ]:
'''
Q31
Group Anagrams
Given an array of strings strs, group the anagrams together. You can return the answer in any order.

Example 1:
Input:
strs = ["eat", "tea", "tan", "ate", "nat", "bat"]

Output:
[["eat", "tea", "ate"], ["tan", "nat"], ["bat"]]

Example 2:
Input:
strs = [""]

Output:
[[""]]

Example 3:
Input:
strs = ["a"]

Output:
[["a"]]
'''

In [ ]:
'''
Q32

Permutations
Given a collection of distinct integers, return all possible permutations.

Example 1:
Input:
nums = [1, 2, 3]

Output:
[[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]

Example 2:
Input:
nums = [0, 1]

Output:
[[0, 1], [1, 0]]

Example 3:
Input:
nums = [1]

Output:
[[1]]
'''

In [ ]:
'''
Q33
Maximum Subarray
Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

Example 1:
Input:
nums = [-2, 1, -3, 4, -1, 2, 1, -5, 4]

Output:
6
Explanation: The subarray [4, -1, 2, 1] has the largest sum = 6.

Example 2:
Input:
nums = [1]

Output:
1
Explanation: The subarray [1] has the largest sum = 1.

Example 3:
Input:
nums = [5, 4, -1, 7, 8]

Output:
23
Explanation: The subarray [5, 4, -1, 7, 8] has the largest sum = 23.
'''

In [ ]:
'''
Q34

Sum of Digits
Write a recursive function that calculates the sum of digits of a given non-negative integer n.
The function should keep calling itself recursively until it reduces the number to 0.

Example 1:
Input:
n = 123

Output:
6
Explanation: The sum of digits is 1 + 2 + 3 = 6.

Example 2:
Input:
n = 98765

Output:
35
Explanation: The sum of digits is 9 + 8 + 7 + 6 + 5 = 35.

Example 3:
Input:
n = 0

Output:
0
Explanation: The sum of digits is 0.
'''

In [ ]:
'''
Q35
Normalize Scores (USE Map & Filter)
You are given a list of students' scores on a test. The task is to:
Filter out the scores that are below a passing score of 50.
Map the remaining scores to a normalized score in the range of 0 to 1. The normalized score can be calculated as:
normalized¬†score = (score ‚àí min¬†score) / (max¬†score ‚àí min¬†score)
‚Äã
Write a function that returns the list of normalized scores.

Example 1:
Input:
scores = [65, 48, 55, 78, 32, 45, 99]

Output:
[0.25, 0.1, 0.18, 0.61, 0.94]
Explanation:

First, filter out scores below 50: [65, 55, 78, 99]
Then, calculate the normalized scores using the formula.
Example 2:
Input:
scores = [40, 60, 80, 100, 20]

Output:
[0.0, 0.25, 0.75, 1.0]
Explanation:

After filtering: [60, 80, 100]
The normalized scores are calculated using the formula.
Example 3:
Input:
scores = [20, 30, 40]

Output:
[]
Explanation: All scores are below the passing mark of 50, so the result is an empty list.

'''